<a href="https://colab.research.google.com/github/SunForLife/raiffeisen/blob/master/home_credit_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle
import json
import zipfile
import os
!mkdir /root/.kaggle
!echo '{"username":"sunforlife","key":"f268a514470e41cf21aa762fba14943d"}' > /root/.kaggle/kaggle.json
!chmod 600 /root/.kaggle/kaggle.json
!kaggle config path -p /root
!kaggle competitions download -c home-credit-default-risk
for file in os.listdir():
    if not file.endswith('.zip'):
        continue
    zip_ref = zipfile.ZipFile(file, 'r')
    zip_ref.extractall()
    zip_ref.close()

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.8)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
mkdir: cannot create directory ‘/root/.kaggle’: File exists
usage: kaggle config [-h] {view,set,unset} ...
kaggle config: error: argument command: invalid choice: 'path' (choose from 'view', 'set', 'unset')
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
POS_CASH_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
bureau_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
previous_application.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
bureau.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
credit_card_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
installments_payments.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier

In [ ]:
train = pd.read_csv('application_train.csv')

train_numeric = train.select_dtypes([np.number]).fillna(0)

X = train_numeric.drop(labels=['TARGET'], axis="columns")
y = train_numeric['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# reg = LogisticRegression(max_iter=1000000).fit(X_train, y_train)
gb = XGBClassifier(tree_method='gpu_hist').fit(X_train, y_train)

In [ ]:
print(accuracy_score(y_test, gb.predict(X_test)))
print(precision_score(y_test, gb.predict(X_test)))
print(recall_score(y_test, gb.predict(X_test)))
print(roc_auc_score(y_test, gb.predict_proba(X_test)[:, 1]))

0.9195811586426679
0.56
0.002828854314002829
0.7436057604734183

## Functions part

In [ ]:
def aggregate_numeric_fields(df, columns_to_drop, group_by, agg_methods, name_prefix):
    cnt_numeric_fields_statistics = df.drop(columns = columns_to_drop).groupby(group_by, as_index = False).agg(agg_methods).reset_index()

    columns = [group_by]
    for column in cnt_numeric_fields_statistics.columns.levels[0]:
        if column == group_by:
            continue

        for stat in cnt_numeric_fields_statistics.columns.levels[1][:-1]:
            columns.append('{}_{}_{}'.format(name_prefix, column, stat))

    cnt_numeric_fields_statistics.columns = columns

    return cnt_numeric_fields_statistics

## bureau part.

In [ ]:
bureau = pd.read_csv('bureau.csv')
data = X

In [ ]:
# Считаем активные и закрытые кредиты.
cnt_active_loans = bureau[bureau.CREDIT_ACTIVE == 'Active'].groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()
cnt_closed_loans = bureau[bureau.CREDIT_ACTIVE == 'Closed'].groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()

In [ ]:
# Мерджим фичи

data = data.merge(cnt_active_loans, on = 'SK_ID_CURR', how = 'left').fillna(0)
data = data.merge(cnt_closed_loans, on = 'SK_ID_CURR', how = 'left').fillna(0)

In [ ]:
# Теперь посчитаем для всех числовых колонок статистику по ним, что так же будет
# являтся хорошими фичами для нашей модели.
cnt_numeric_fields_statistics = aggregate_numeric_fields(bureau, ['SK_ID_BUREAU'], 'SK_ID_CURR', ['min', 'max', 'mean', 'sum'], 'bureau')

In [ ]:
data = data.merge(cnt_numeric_fields_statistics, on = 'SK_ID_CURR', how = 'left').fillna(0)

In [ ]:
# Оставшиеся текстовые колонки ohe кодируем, считая nan отдельным классом.

def one_hot_encoder(df):
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    return pd.get_dummies(df, columns=categorical_columns, dummy_na=True)

In [ ]:
credit_type_ohe = one_hot_encoder(bureau)

credit_type_ohe = credit_type_ohe.groupby('SK_ID_CURR', as_index=False).count()

data = data.merge(credit_type_ohe, on = 'SK_ID_CURR', how = 'left').fillna(0)

## bureau_balance part

In [ ]:
bureau_balance = pd.read_csv('bureau_balance.csv')
bureau_balance

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [ ]:
# Считаем статистику для MONTHS_BALANCE по ['min', 'mean', 'sum'].

cnt_numeric_fields_statistics = aggregate_numeric_fields(bureau_balance, ['STATUS'], 'SK_ID_BUREAU', ['min', 'mean', 'sum'], 'balance')
cnt_numeric_fields_statistics

        SK_ID_BUREAU  ...  balance_MONTHS_BALANCE_sum
0            5001709  ...                       -4656
1            5001710  ...                       -3403
2            5001711  ...                          -6
3            5001712  ...                        -171
4            5001713  ...                        -231
...              ...  ...                         ...
817390       6842884  ...                       -1128
817391       6842885  ...                        -276
817392       6842886  ...                        -528
817393       6842887  ...                        -666
817394       6842888  ...                       -1891

[817395 rows x 4 columns]

In [ ]:
# Добавляем ohe по статусу.

status_ohe = one_hot_encoder(bureau_balance)

# И статистику по этому кодированию.

status_ohe_statistics = aggregate_numeric_fields(status_ohe, [], 'SK_ID_BUREAU', ['min', 'max', 'mean', 'sum'], 'balance')
status_ohe_statistics

        SK_ID_BUREAU  ...  balance_STATUS_nan_sum
0            5001709  ...                       0
1            5001710  ...                       0
2            5001711  ...                       0
3            5001712  ...                       0
4            5001713  ...                       0
...              ...  ...                     ...
817390       6842884  ...                       0
817391       6842885  ...                       0
817392       6842886  ...                       0
817393       6842887  ...                       0
817394       6842888  ...                       0

[817395 rows x 41 columns]

In [ ]:
# Объединяем cnt_numeric_fields_statistics и status_ohe_statistics по SK_ID_BUREAU.

bureau_balance_features = cnt_numeric_fields_statistics.merge(status_ohe_statistics, on = 'SK_ID_BUREAU', how = 'left').fillna(0)

In [ ]:
# Mерджим с bureau для нахождения SK_ID_CURR.

bureau_X_bureau_balance_features = bureau[['SK_ID_CURR', 'SK_ID_BUREAU']].merge(bureau_balance_features, on = 'SK_ID_BUREAU', how = 'left').fillna(0)

# И опять статистику.

bureau_X_bureau_balance_features_features = aggregate_numeric_fields(bureau_X_bureau_balance_features, ['SK_ID_BUREAU'], 'SK_ID_CURR', ['min', 'max', 'mean', 'sum'], 'id')

In [ ]:
data = data.merge(bureau_X_bureau_balance_features_features, on = 'SK_ID_CURR', how = 'left').fillna(0)

## Score part.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2, random_state=42)

In [ ]:
gb_new = XGBClassifier(tree_method='gpu_hist').fit(X_train, y_train)

In [ ]:
print(accuracy_score(y_test, gb_new.predict(X_test)))
print(precision_score(y_test, gb_new.predict(X_test)))
print(recall_score(y_test, gb_new.predict(X_test)))
print(roc_auc_score(y_test, gb_new.predict_proba(X_test)[:, 1]))

0.9195811586426679
0.5652173913043478
0.0026267932915740554
0.7469078185925195