<a href="https://colab.research.google.com/github/SunForLife/raiffeisen/blob/master/home_credit_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle
import json
import zipfile
import os
!mkdir /root/.kaggle
!echo '' > /root/.kaggle/kaggle.json
!chmod 600 /root/.kaggle/kaggle.json
!kaggle config path -p /root
!kaggle competitions download -c home-credit-default-risk
for file in os.listdir():
    if not file.endswith('.zip'):
        continue
    zip_ref = zipfile.ZipFile(file, 'r')
    zip_ref.extractall()
    zip_ref.close()

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
mkdir: cannot create directory ‘/root/.kaggle’: File exists
usage: kaggle config [-h] {view,set,unset} ...
kaggle config: error: argument command: invalid choice: 'path' (choose from 'view', 'set', 'unset')
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
POS_CASH_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
previous_application.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
installments_payments.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
credit_card_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
bureau_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
application_train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
bureau.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier

In [ ]:
train = pd.read_csv('application_train.csv')

train_numeric = train.select_dtypes([np.number]).fillna(0)

X = train_numeric.drop(labels=['TARGET'], axis="columns")
y = train_numeric['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# reg = LogisticRegression(max_iter=1000000).fit(X_train, y_train)
gb = XGBClassifier(tree_method='gpu_hist').fit(X_train, y_train)

In [ ]:
print(accuracy_score(y_test, gb.predict(X_test)))
print(precision_score(y_test, gb.predict(X_test)))
print(recall_score(y_test, gb.predict(X_test)))
print(roc_auc_score(y_test, gb.predict_proba(X_test)[:, 1]))

0.9195811586426679
0.56
0.002828854314002829
0.7436057604734183

In [ ]:
bureau = pd.read_csv('bureau.csv')

bureau

         SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0            215354       5714462  ...               -131         NaN
1            215354       5714463  ...                -20         NaN
2            215354       5714464  ...                -16         NaN
3            215354       5714465  ...                -16         NaN
4            215354       5714466  ...                -21         NaN
...             ...           ...  ...                ...         ...
1716423      259355       5057750  ...                -19         NaN
1716424      100044       5057754  ...              -2493         NaN
1716425      100044       5057762  ...               -967         NaN
1716426      246829       5057770  ...              -1508         NaN
1716427      246829       5057778  ...               -387         NaN

[1716428 rows x 17 columns]

In [ ]:
# Считаем активные и закрытые кредиты.
cnt_active_loans = bureau[bureau.CREDIT_ACTIVE == 'Active'].groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()
cnt_closed_loans = bureau[bureau.CREDIT_ACTIVE == 'Closed'].groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()

In [ ]:
# Мерджим наши новые фичи

X_train = X_train.merge(cnt_active_loans, on = 'SK_ID_CURR', how = 'left').fillna(0)
X_test = X_test.merge(cnt_active_loans, on = 'SK_ID_CURR', how = 'left').fillna(0)

X_train = X_train.merge(cnt_closed_loans, on = 'SK_ID_CURR', how = 'left').fillna(0)
X_test = X_test.merge(cnt_closed_loans, on = 'SK_ID_CURR', how = 'left').fillna(0)

In [ ]:
# Теперь посчитаем для всех числовых колонок статистику по ним, что так же будет
# являтся хорошими фичами для нашей модели.

cnt_numeric_fields_statistics = bureau.drop(columns = ['SK_ID_BUREAU']).groupby('SK_ID_CURR', as_index = False).agg(['min', 'max', 'mean', 'sum'])
cnt_numeric_fields_statistics.reset_index(inplace=True)

In [ ]:
columns = ['SK_ID_CURR']
for column in cnt_numeric_fields_statistics.columns.levels[0]:
    if column != 'SK_ID_CURR':
        for stat in cnt_numeric_fields_statistics.columns.levels[1][:-1]:
            columns.append('bureau_%s_%s' % (column, stat))

cnt_numeric_fields_statistics.columns = columns

In [ ]:
X_train = X_train.merge(cnt_numeric_fields_statistics, on = 'SK_ID_CURR', how = 'left').fillna(0)
X_test = X_test.merge(cnt_numeric_fields_statistics, on = 'SK_ID_CURR', how = 'left').fillna(0)

In [ ]:
def one_hot_encoder(df):
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    return pd.get_dummies(df, columns=categorical_columns, dummy_na=True)

In [ ]:
credit_type_ohe = one_hot_encoder(bureau)

credit_type_ohe = credit_type_ohe.groupby('SK_ID_CURR', as_index=False).count()

X_train = X_train.merge(credit_type_ohe, on = 'SK_ID_CURR', how = 'left').fillna(0)
X_test = X_test.merge(credit_type_ohe, on = 'SK_ID_CURR', how = 'left').fillna(0)

In [ ]:
gb_new = XGBClassifier(tree_method='gpu_hist').fit(X_train, y_train)

In [ ]:
print(accuracy_score(y_test, gb_new.predict(X_test)))
print(precision_score(y_test, gb_new.predict(X_test)))
print(recall_score(y_test, gb_new.predict(X_test)))
print(roc_auc_score(y_test, gb_new.predict_proba(X_test)[:, 1]))

0.9195974180121295
0.5909090909090909
0.0026267932915740554
0.7468790050494389